<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercadolibre</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
<%- include("partials/header") %>
  <section>
    <img class="banner" src="/images/banner.jpg">
  </section>
  <main>
    <p class="titulares">Basado en tu última visita</p>
    <section>
      <% for(var i=0, i < products.length, i++){ %>
        <% if(products[i].category == "visited"){ %>
      <article>
        <a href=#>
          <div class="fondo-blanco">
            <img src= "<%= products[i].image %>">
        </a>
        <div class="descripcion-full">
          <i class="fas fa-truck fa-2x"></i>
          <h2 class="precios">$<%= products[i].price %></h2>
          <span class="descuentos"><%= products[i].discount %>% OFF</span>
          <p class="descripcionesProd"><%= products[i].description %></p>
        </div>
        </div>
      </article>
        <% } %>
      <% } %>
    </section>
    <p class="titulares">Ofertas</p>
    <section>
      <% for(var i=0, i < products.length, i++){ %>
        <% if(products[i].category == "in-sale"){ %>
      <article>
        <a href=#>
          <div class="fondo-blanco">
            <img src="<%= products[i].image %>">
        </a>
        <div class="descripcion-full">
          <i class="fas fa-truck fa-2x"></i>
          <h2 class="precios">$<%= products[i].price %></h2>
          <span class="descuentos"><%= products[i].discount %>% OFF</span>
          <p class="descripcionesProd"><%= products[i].description %></p>
        </div>
        </div>
      </article>
        <% } %>
      <% } %>
    </section>
  </main>
  
  <%- include("partials/footer") %>
</body>

</html>